<section ng-show="vm.project.isCurrentUserOwner || vm.project.isALeader || !vm.project._id">
  <div class="page-header">
    <h1>{{vm.project._id ? 'Edit Project' : 'New Project'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.projectForm" class="new-project-form form-horizontal" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
      <fieldset>

        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group" show-errors>
              <label class="control-label">Project Name*</label>
              <input name="projectName" type="text" ng-model="vm.project.projectName" id="projectName" class="form-control custom-input" placeholder="Project Name" required>
              <div ng-messages="vm.form.projectForm.projectName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Project name is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group" show-errors>
              <label class="control-label">Project Description*</label>
              <textarea name="description" type="text" ng-model="vm.project.description" class="form-control custom-input" placeholder="Enter a detailed description about your project"rows="10" id="description" required></textarea>
              <div ng-messages="vm.form.projectForm.description.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Project description is required.</p>
              </div>
            </div>
          </div>
        </div>


        <div class = "row">
          <div class = "col-md-6 col-sm-6 col-xs-12">
            <label class="form-group control-label">Approximate Start Date</label>
            <div class = "row">
              <div class = "col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <div class="dropdown pull-left">
                    <button class="btn custom-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Month
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" data-ng-click="startMonthSelected(unspecified)">Unspecified</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-ng-repeat="month in months">
                        <a href="#" data-ng-click="startMonthSelected(month)">{{month}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class= "col-md-3 col-sm-3 col-xs-3" style = "padding-left: 0">
                  <h5> {{startMonth}} </h5>
              </div>
              <div class = "col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <div class="dropdown">
                    <button class="btn custom-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Year
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" data-ng-click="startYearSelected(unspecified)">Unspecified</a></li>
                      <li role="separator" class="divider"></li>
                      <li ng-repeat="year in years">
                        <a href="#" data-ng-click="startYearSelected(year)">{{year}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class= "col-md-3 col-sm-3 col-xs-3" style = "padding-left: 0">
                  <h5> {{startYear}} </h5>
              </div>
            </div>
          </div>
          <div class = "col-md-6 col-sm-6 col-xs-12">
            <label class="form-group control-label">Approximate End Date</label>
            <div class = "row">
              <div class = "col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <div class="dropdown">
                    <button class="btn custom-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Month
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" >
                      <li>
                        <a href="#" data-ng-click="endMonthSelected(unspecified)">Unspecified</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-ng-repeat="month in months">
                        <a href="#" data-ng-click="endMonthSelected(month)">{{month}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class= "col-md-3 col-sm-3 col-xs-3" style = "padding-left: 0">
                  <h5> {{endMonth}} </h5>
              </div>
              <div class = "col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <div class="dropdown">
                    <button class="btn custom-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Year
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#" data-ng-click="endYearSelected(unspecified)">Unspecified</a></li>
                      <li role="separator" class="divider"></li>
                      <li ng-repeat="year in years">
                        <a href="#" data-ng-click="endYearSelected(year)">{{year}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class= "col-md-3 col-sm-3 col-xs-3" style = "padding-left: 0">
                  <h5> {{endYear}} </h5>
              </div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group">
              <label class="control-label">Project Location</label>
              <input name="location" type="text" ng-model="vm.project.location" id="location" class="form-control custom-input" placeholder="Project Location">
            </div>
          </div>
        </div>


        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group">
              <label class="control-label">Technology Stack(C++, Java, Javascript, Mongodb, etc...)</label>
              <tags-input ng-model="stack"></tags-input>
            </div>

          </div>
        </div>


        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group">
              <label class="control-label">Leaders</label>
              <div>
                <div class = "col-md-4 col-sm-6 col-xs-12" data-ng-repeat = "leader in vm.project.leaders" data-ng-show = "vm.project.leaders.length !== 0">
                  <span>
                    <img style = "margin-bottom: 0.5rem" data-ng-src="{{leader.profileImageURL}}" alt="{{leader.displayName}}" data-toggle="tooltip" title="{{leader.displayName}}" class="leader-profile-image" />
                    <button ng-show = "vm.authentication.user._id === vm.project.user._id && vm.authentication.user._id !== leader._id" class="btn custom-btn btn-sm" ng-click = "vm.makeMember(leader)">Make Member</button>
                    <button ng-show = "vm.authentication.user._id === vm.project.user._id && vm.authentication.user._id !== leader._id" class="btn custom-btn-cancel btn-sm" ng-click = "vm.removeUser(leader)">Remove</button>
                  </span>
                </div>
                <span data-ng-show = "vm.project.leaders.length === 0">No leaders</span>
              </div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-12">
            <div class="form-group">
              <label class="control-label">Members</label>
              <div>
                <div class = "col-md-4 col-sm-6 col-xs-12" data-ng-repeat = "member in vm.project.members" data-ng-show = "vm.project.members.length !== 0">
                  <span>
                    <img style = "margin-bottom: 0.5rem" data-ng-src="{{member.profileImageURL}}" alt="{{member.displayName}}" data-toggle="tooltip" title="{{member.displayName}}" class="leader-profile-image" />
                    <button ng-show = "vm.authentication.user._id === vm.project.user._id" class="btn custom-btn btn-sm" ng-click = "vm.makeLeader(member)">Make Leader</button>
                    <button class="btn custom-btn-cancel btn-sm" ng-click = "vm.removeUser(member)">Remove</button>
                  </span>
                </div>
                <span data-ng-show = "vm.project.members.length === 0">No members</span>
              </div>
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class = "border">
            <button type="submit" class="btn custom-btn custom-submit">{{vm.project._id ? 'Update' : 'Create'}}</button>

            <a class="btn custom-btn-cancel custom-submit" ng-show = "vm.project._id"
               ui-sref="projects.view({ projectId: vm.project._id })">
               Cancel
            </a>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
